<header>
  <mat-toolbar color="primary">
    <span style="margin-right: 10px;">
      <span style="color: rgb(42, 241, 255);"><img src="angular.ico" style="max-width:25px;" alt="Poop Logo"/> E</span>  commerce
    </span>
    <button mat-button routerLink="/">Inicio</button>
    <button mat-button routerLink="/ingresar">Ingresar</button>
    <button mat-button routerLink="/registro">Registro</button>
    <button mat-button routerLink="/listado">Productos</button>

    <span class="espaciado"></span>
    <button mat-icon-button>
      <mat-icon>monetization_on</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>

  </mat-toolbar>
</header>
