.cajaBotones {
  display: flex;
  justify-content: space-between;
}

.mat-hint {
  z-index: 2;
  position: absolute;
  margin-top: 10px;
  color: rgb(147, 22, 185);
}

::ng-deep .mat-form-field-infix {
  display: block !important;
  position: relative !important;
  flex: auto !important;
  min-width: 0 !important;
  width: 241px !important;
}

.card {
  color: black;
  min-width: 400px;
  max-width: 400px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    19px 23px 8px -13px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 13px -7px #000000,
    19px 23px 8px -13px rgba(0, 0, 0, 0.33);
}

.card:hover {
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    24px 29px 8px -13px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 13px -7px #000000,
    24px 29px 8px -13px rgba(0, 0, 0, 0.33);
}

.cabecera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: bisque;
  border-radius: 10px 10px 0 0;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.titulo {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: normal;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 0 10px 0;
}
.cuerpo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(16, 17, 17);
  padding: 15px 20px 15px 20px;
  border-radius: 0 0 10px 10px;
}

.mat-raised-button.mat-primary {
  background-color: #13681a;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(255, 255, 255, 0.62);
  box-shadow: 3px 2px 5px 0px rgba(255, 255, 255, 0.62);
}

.mat-raised-button.mat-primary.mat-button-disabled {
  color: rgb(186 189 162 / 81%);
  background-color: #03421b;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.customIconSize {
  font-size: 15px;
  height: 15px ;
  width: 15px ;
}
.customIconSize2 {
  font-size: 35px;
  height: 35px ;
  width: 35px ;
}



